## Import revelant libraries for the assignment

In [184]:
#!/usr/bin/env python3
import pandas as pd
import numpy as np
import nltk
nltk.download('wordnet')
import re
from bs4 import BeautifulSoup

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## Read Data

In [185]:
data = pd.read_csv(r'C:\Users\Manan\Downloads\amazon_reviews_us_Office_Products_v1_00.tsv', delimiter = '\t', quoting = 3)

In [186]:
data

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,43081963,R18RVCKGH1SSI9,B001BM2MAC,307809868,"Scotch Cushion Wrap 7961, 12 Inches x 100 Feet",Office Products,5,0,0,N,Y,Five Stars,Great product.,2015-08-31
1,US,10951564,R3L4L6LW1PUOFY,B00DZYEXPQ,75004341,"Dust-Off Compressed Gas Duster, Pack of 4",Office Products,5,0,1,N,Y,"Phffffffft, Phfffffft. Lots of air, and it's C...",What's to say about this commodity item except...,2015-08-31
2,US,21143145,R2J8AWXWTDX2TF,B00RTMUHDW,529689027,Amram Tagger Standard Tag Attaching Tagging Gu...,Office Products,5,0,0,N,Y,but I am sure I will like it.,"Haven't used yet, but I am sure I will like it.",2015-08-31
3,US,52782374,R1PR37BR7G3M6A,B00D7H8XB6,868449945,AmazonBasics 12-Sheet High-Security Micro-Cut ...,Office Products,1,2,3,N,Y,and the shredder was dirty and the bin was par...,Although this was labeled as &#34;new&#34; the...,2015-08-31
4,US,24045652,R3BDDDZMZBZDPU,B001XCWP34,33521401,"Derwent Colored Pencils, Inktense Ink Pencils,...",Office Products,4,0,0,N,Y,Four Stars,Gorgeous colors and easy to use,2015-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2642429,US,53005790,RLI7EI10S7SN0,B00000DM9M,223408988,PalmOne III Leather Belt Clip Case,Office Products,4,26,26,N,N,Great value! A must if you hate to carry thing...,I can't live anymore whithout my Palm III. But...,1998-12-07
2642430,US,52188548,R1F3SRK9MHE6A3,B00000DM9M,223408988,PalmOne III Leather Belt Clip Case,Office Products,4,18,18,N,N,Attaches the Palm Pilot like an appendage,Although the Palm Pilot is thin and compact it...,1998-11-30
2642431,US,52090046,R23V0C4NRJL8EM,0807865001,307284585,Gods and Heroes of Ancient Greece,Office Products,4,9,16,N,N,"Excellent information, pictures and stories, I...",This book had a lot of great content without b...,1998-10-15
2642432,US,52503173,R13ZAE1ATEUC1T,1572313188,870359649,Microsoft EXCEL 97/ Visual Basic Step-by-Step ...,Office Products,5,0,0,N,N,class text,I am teaching a course in Excel and am using t...,1998-08-22
2642433,US,52585611,RE8J5O2GY04NN,1572313188,870359649,Microsoft EXCEL 97/ Visual Basic Step-by-Step ...,Office Products,5,0,0,N,N,Microsoft's Finest,A very comprehensive layout of exactly how Vis...,1998-07-15

In [187]:
data.shape

(2642434, 15)

## Keep Reviews and Ratings

In [188]:
df2=data[["star_rating","review_body"]]

 ## We form three classes and select 20000 reviews randomly from each class.

In [189]:
df2

         star_rating                                        review_body
0                  5                                     Great product.
1                  5  What's to say about this commodity item except...
2                  5    Haven't used yet, but I am sure I will like it.
3                  1  Although this was labeled as &#34;new&#34; the...
4                  4                    Gorgeous colors and easy to use
...              ...                                                ...
2642429            4  I can't live anymore whithout my Palm III. But...
2642430            4  Although the Palm Pilot is thin and compact it...
2642431            4  This book had a lot of great content without b...
2642432            5  I am teaching a course in Excel and am using t...
2642433            5  A very comprehensive layout of exactly how Vis...

[2642434 rows x 2 columns]

In [190]:
sample_reviews = df2.sample(n=3)

In [191]:
sample_reviews

        star_rating                                        review_body
225150            5  I have been through so many laptop trays, sigh...
141133            1  Bad phones, I sent them to Colombia and didn't...
361962            4  Simple small ring binder. Have used for years....

In [192]:
rating_statistics = df2["star_rating"].value_counts()

In [193]:

rating_statistics

star_rating
5    1584192
4     418694
1     307234
3     193818
2     138496
Name: count, dtype: int64

This code snippet filters a DataFrame (`df2`) to categorize reviews based on their star ratings. It creates three subsets: `positive_reviews` for ratings 4 and 5, `negative_reviews` for ratings 1 and 2, and `neutral` for rating 3. Finally, it prints the number of reviews in each category.

In [194]:
positive_reviews = df2[(df2['star_rating'] == 4) + (df2['star_rating'] == 5)]
negative_reviews = df2[(df2['star_rating'] == 1) + (df2['star_rating'] == 2)]
neutral = df2[df2['star_rating'] == 3]

print("Statistics of three classes:", ','.join(map(str, [len(positive_reviews), len(negative_reviews), len(neutral)])))

# print("\nNumber of Positive Reviews:", len(positive_reviews))
# print("\nNumber of Negative Reviews:", len(negative_reviews))
# print("\nNumber of Neutral Reviews:", len(neutral))

C:\Users\Manan\AppData\Local\Temp\ipykernel_7980\2420425920.py:1: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  positive_reviews = df2[(df2['star_rating'] == 4) + (df2['star_rating'] == 5)]
C:\Users\Manan\AppData\Local\Temp\ipykernel_7980\2420425920.py:2: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  negative_reviews = df2[(df2['star_rating'] == 1) + (df2['star_rating'] == 2)]

Statistics of three classes: 2002886,445730,193818

This code adds a 'sentiment' column to `df2` based on 'star_rating': 1 for ratings > 3, 0 for <= 2, and None otherwise, using a lambda function and `apply`.

In [195]:
df2['sentiment'] = df2['star_rating'].apply(lambda x: 1 if x > 3 else 0 if x <= 2 else None)

C:\Users\Manan\AppData\Local\Temp\ipykernel_7980\1095391281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sentiment'] = df2['star_rating'].apply(lambda x: 1 if x > 3 else 0 if x <= 2 else None)

Remove rows where 'sentiment' is None

In [196]:

df2 = df2.dropna(subset=['sentiment'])

In [197]:
df2

,star_rating,review_body,sentiment
0,5,Great product.,1.0
1,5,What's to say about this commodity item except...,1.0
2,5,"Haven't used yet, but I am sure I will like it.",1.0
3,1,Although this was labeled as &#34;new&#34; the...,0.0
4,4,Gorgeous colors and easy to use,1.0
...,...,...,...
2642429,4,I can't live anymore whithout my Palm III. But...,1.0
2642430,4,Although the Palm Pilot is thin and compact it...,1.0
2642431,4,This book had a lot of great content without b...,1.0
2642432,5,I am teaching a course in Excel and am using t...,1.0
2642433,5,A very comprehensive layout of exactly how Vis...,1.0

Calculate and Print the Number of positive reviews

In [198]:
num_positive_reviews = df2[df2['sentiment'] == 1].shape[0]

In [199]:
num_positive_reviews

2002886

Calculate and print the number of negative reviews

In [200]:
num_negative_reviews = df2[df2['sentiment'] == 0].shape[0]

In [201]:
num_negative_reviews

445730

This code selects a random sample of 100,000 rows from df2 where 'sentiment' is 1 (positive reviews) and another random sample of 100,000 rows where 'sentiment' is 0 (negative reviews). After we concat positive and negative reviews.

In [202]:
positive_reviews = df2[df2['sentiment'] == 1].sample(n=100000, random_state=55)
negative_reviews = df2[df2['sentiment'] == 0].sample(n=100000, random_state=55)

In [203]:
df3 = pd.concat([positive_reviews, negative_reviews])

In [204]:
df3

,star_rating,review_body,sentiment
165183,5,Really cute. Holds like 16 cards,1.0
179279,5,Great delivery time. Also pleased with qualit...,1.0
1336999,4,"For the cost, you obviously can't beat it. Th...",1.0
235220,5,I had originally ordered ink on eBay for my br...,1.0
210890,5,"Very nice product, also very accurate. The onl...",1.0
...,...,...,...
1731212,2,"the measurement is 4x6 with flap open, I expec...",0.0
972938,1,Bought it to replace my old printhead because ...,0.0
1821662,2,It makes my Logitech M510 wireless mouse spora...,0.0
496005,1,"My gripe is the poor support service, and warr...",0.0
2607446,1,I purchased this battery because it is listed ...,0.0


This code uses the train_test_split function from scikit-learn to split the DataFrame df3 into training (train_df) and testing (test_df) sets. The testing set comprises 20% of the original data, and the random state is set to 55

In [205]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df3, test_size=0.2, random_state=55)

# Data Cleaning

In [206]:
from contractions import contractions_dict

In [207]:
# def expand_contractions1(text):
#     for contraction, expansion in contractions_dict.items():
#         text = re.sub(contraction, expansion, text)
#     return text

This function, `expand_contractions`, replaces English contractions in a given text with their expanded forms. It uses a dictionary (`contractions_dict`) mapping contractions to their expanded versions. The function iterates through the text and performs the replacement. Additionally, it checks if the input text is not NaN before applying the expansion.

In [208]:
def expand_contractions(text):
    contractions_dict = {
        "I'm": "I am", "you're": "you are", "he's": "he is", "she's": "she is", "it's": "it is",
        "we're": "we are", "they're": "they are", "I've": "I have", "you've": "you have", "we've": "we have",
        "they've": "they have", "I'll": "I will", "you'll": "you will", "he'll": "he will", "she'll": "she will",
        "it'll": "it will", "we'll": "we will", "they'll": "they will", "isn't": "is not", "aren't": "are not",
        "wasn't": "was not", "weren't": "were not", "hasn't": "has not", "haven't": "have not", "hadn't": "had not",
        "won't": "will not", "wouldn't": "would not", "don't": "do not", "doesn't": "does not", "didn't": "did not",
        "can't": "cannot", "cannot": "can not", "couldn't": "could not", "shouldn't": "should not", "mustn't": "must not",
        "mightn't": "might not", "I'd": "I would", "you'd": "you would", "he'd": "he would", "she'd": "she would",
        "it'd": "it would", "we'd": "we would", "they'd": "they would", "let's": "let us", "that's": "that is",
        "who's": "who is", "what's": "what is", "where's": "where is", "when's": "when is", "why's": "why is",
        "how's": "how is", "here's": "here is", "there's": "there is", "that'll": "that will", "who'll": "who will",
        "what'll": "what will", "where'll": "where will", "when'll": "when will", "why'll": "why will", "how'll": "how will",
        "here'll": "here will", "there'll": "there will", "can've": "can have", "could've": "could have", "would've": "would have",
        "should've": "should have", "must've": "must have", "might've": "might have", "ought to've": "ought to have", "I'd've": "I would have",
        "you'd've": "you would have", "he'd've": "he would have", "she'd've": "she would have", "it'd've": "it would have",
        "we'd've": "we would have",  "ain't": "am not", "gimme": "give me", "gonna": "going to",
        "gotta": "got to", "dunno": "do not know", "kinda": "kind of", "lemme": "let me", "wanna": "want to", "shoulda": "should have",
        "coulda": "could have", "woulda": "would have", "musta": "must have", "mighta": "might have", "oughta": "ought to",
        "mayn't": "may not", "e'er": "ever", "ne'er": "never", "o'er": "over", "'tis": "it is", "'twas": "it was",
        "'twill": "it will", "y'all": "you all","she'd've": "she would have", "it'd've": "it would have", "we'd've": "we would have",
        "they'd've": "they would have", "should've": "should have", "must've": "must have",    "might've": "might have", "ought to've": "ought to have", "I'd've": "I would have",
        "you'd've": "you would have", "he'd've": "he would have", "that'd": "that would","who'd've": "who would have", "what'd": "what would", "where'd": "where did",
        "when'd": "when did", "why'd": "why did", "how'd": "how did", "there'd": "there would",
        "can've": "can have", "could've": "could have", "would've": "would have", "should've": "should have",
        "might've": "might have", "ought to've": "ought to have", "I'd've": "I would have", "you'd've": "you would have",
        "he'd've": "he would have", "she'd've": "she would have", "it'd've": "it would have", "we'd've": "we would have",
        "they'd've": "they would have", "ain't": "am not", "gimme": "give me", "gonna": "going to", "gotta": "got to",
        "dunno": "do not know", "kinda": "kind of", "lemme": "let me", "wanna": "want to", "shoulda": "should have",
        "coulda": "could have", "woulda": "would have", "musta": "must have", "mighta": "might have", "oughta": "ought to",
        "mayn't": "may not", "e'er": "ever", "ne'er": "never", "o'er": "over", "'tis": "it is", "'twas": "it was",
        "'twill": "it will", "y'all": "you all", "amn't": "am not", "aren't": "are not", "can't": "cannot", "could've": "could have",
        "couldn't've": "could not have", "didn't": "did not", "doesn't": "does not", "don't": "do not", "hadn't": "had not",
        "hasn't": "has not", "haven't": "have not", "he'd": "he would", "he'd've": "he would have", "he'll": "he will",
        "he'll've": "he will have", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will",
        "how's": "how is", "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have",
        "I'm": "I am", "I've": "I have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have",
        "it'll": "it will", "it'll've": "it will have", "it's": "it is", "let's": "let us", "ma'am": "madam",
        "mayn't": "may not", "might've": "might have", "mightn't": "might not", "mightn't've": "might not have",
        "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not",
        "needn't've": "need not have", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not",
        "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have",
        "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have",
        "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have", "so's": "so is",
        "that'd": "that would", "that'd've": "that would have", "that'll": "that will", "that'll've": "that will have",
        "that's": "that is"
    }
    if pd.notna(text):
        for contraction, expanded_form in contractions_dict.items():
            text = text.replace(contraction, expanded_form)
    return text

This code snippet performs several text cleaning operations on the 'review_body' column of DataFrame `df3`:

1. Converts 'review_body' to string type.
2. Converts all reviews to lowercase.
3. Removes HTML tags and URLs from the reviews.
4. Removes non-alphabetical characters.
5. Removes extra spaces.
6. Applies the `expand_contractions` function to handle contractions in the cleaned reviews.

In [209]:
df3['review_body'] = df3['review_body'].astype(str)

# Convert all reviews to lowercase
df3['cleaned_reviews'] = df3['review_body'].str.lower()

# Remove HTML and URLs
df3['cleaned_reviews'] = df3['cleaned_reviews'].replace({'<.*?>': '', 'http\S+': ''}, regex=True)

# Remove non-alphabetical characters
df3['cleaned_reviews'] = df3['cleaned_reviews'].replace({'[^a-zA-Z\s]': ''}, regex=True)

# Remove extra spaces
df3['cleaned_reviews'] = df3['cleaned_reviews'].replace({'\s+': ' '}, regex=True).str.strip()

# # Replace null values with 'NA'
# df3['cleaned_reviews'].fillna('NA', inplace=True)

# Perform contractions
df3['cleaned_reviews'] = df3['cleaned_reviews'].apply(expand_contractions)

Calculate and Print average length of reviews before and after cleaning

In [210]:
avg_length_before = df3['review_body'].apply(len).mean()
avg_length_after = df3['cleaned_reviews'].apply(len).mean()

In [211]:
print(f"Average Length of Reviews Before and After Cleaning: {avg_length_before:.2f}, {avg_length_after:.2f}")

Average Length of Reviews Before and After Cleaning: 318.87, 301.02

In [212]:
df3

,star_rating,review_body,sentiment,cleaned_reviews
165183,5,Really cute. Holds like 16 cards,1.0,really cute holds like cards
179279,5,Great delivery time. Also pleased with qualit...,1.0,great delivery time also pleased with quality ...
1336999,4,"For the cost, you obviously can't beat it. Th...",1.0,for the cost you obviously cant beat it they s...
235220,5,I had originally ordered ink on eBay for my br...,1.0,i had originally ordered ink on ebay for my br...
210890,5,"Very nice product, also very accurate. The onl...",1.0,very nice product also very accurate the only ...
...,...,...,...,...
1731212,2,"the measurement is 4x6 with flap open, I expec...",0.0,the measurement is x with flap open i expected...
972938,1,Bought it to replace my old printhead because ...,0.0,bought it to replace my old printhead because ...
1821662,2,It makes my Logitech M510 wireless mouse spora...,0.0,it makes my logitech m wireless mouse sporadic...
496005,1,"My gripe is the poor support service, and warr...",0.0,my gripe is the poor support service and warra...
2607446,1,I purchased this battery because it is listed ...,0.0,i purchased this battery because it is listed ...

# Pre-processing

In [213]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

# Download NLTK resources
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Remove the stop words

This function, `remove_stopwords`, takes a text as input and removes common English stop words while retaining a specific set of negative words. It utilizes the NLTK library for tokenization and the list of negative words to exclude them from the stop words removal process. The filtered tokens are then joined back into a cleaned text.

In [214]:

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    
    # List of negative words to exclude from the stopwords
    negative_words = ['not', 'no', 'never', 'none', 'neither', 'nor', 'nothing', 'nowhere','nobody', 'noway', 'nothing', 'nowhere', 'hardly', 'scarcely', 'barely', 'rarely', 'neither', 'nor',
    'nevertheless', 'nonetheless', 'notwithstanding', 'no', 'none', 'nope', 'no way', 'noway', 'noways',
    'nowhere near', 'nothing doing', 'nothing else', 'nothing more', 'nothing special', 'nothing to it',
    'nothing to lose', 'nothing to sneeze at', 'nothing to write home about', 'nothing ventured', 'nothingness',
    'not likely', 'not right', 'not up to it', 'notwithstanding', 'now and again', 'now and then', 'now or never',
    'null and void', 'nurture', 'obstruction', 'obtuse', 'obviously', 'occlude', 'odd', 'off', 'offend',
    'offense', 'offensive', 'officious', 'ominous', 'on the contrary', 'on the other hand', 'once', 'onerous',
    'only', 'opaque', 'open question', 'oppose', 'opposition', 'oppress', 'oppressive', 'or else', 'or', 'order',
    'ordinarily', 'ought not', 'ought', 'overbearing', 'overpowering', 'oversight', 'overthrow', 'overwhelm',
    'overwhelming', 'pain', 'painful', 'paradox', 'paradoxical', 'paranoid', 'patronize', 'pause', 'pejorative',
    'peril', 'perilous', 'pernicious', 'perplex', 'perplexity', 'persecute', 'pertinacious', 'perverse',
    'perversion', 'perversity', 'pervert', 'pessimism', 'pessimistic', 'pest', 'petrify', 'pillage', 'pique',
    'piss', 'pissed off', 'pissing', 'piteous', 'pitiable', 'pitiful', 'pity', 'pitying', 'plague', 'play down',
    'play off', 'plea', 'plead']
    
    tokens = word_tokenize(text)
    
    # Filter out stop words excluding negative words that are mentioned above in the negative words list
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words or word.lower() in negative_words]
    
    return ' '.join(filtered_tokens)

## Perform lemmatization

In [215]:
# Function to perform lemmatization
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    tokens = word_tokenize(text)
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(lemmatized_tokens)

# Function for overall preprocessing which calls stopwords and lemmatization function

In [216]:

def preprocess_text(text):
    cleaned_text = text.lower()
    cleaned_text = remove_stopwords(cleaned_text)
    cleaned_text = lemmatize_text(cleaned_text)
    return cleaned_text

In [217]:
# Apply preprocessing to the entire dataset
df3['processed_reviews'] = df3['cleaned_reviews'].apply(preprocess_text)

Print three sample reviews before and after preprocessing

In [218]:

sample_reviews = df3[['cleaned_reviews', 'processed_reviews']].sample(3, random_state=55)

In [219]:
from IPython.display import display

for index, row in sample_reviews.iterrows():
    display("\nOriginal Review:", row['cleaned_reviews'])
    display("\nProcessed Review:", row['processed_reviews'])
    display("\n")

'\nOriginal Review:'

'this product wouldnt even be worth getting in a dollar store sheet strip it regularly has problems just doing i typically try to do sheets at a time and every times it gets jammed and of course they dont have a way to open it to clear the jammed paper out so i have to try to use a butter knife takes longer doing that every sheets than using a pair of scissors to shred the sheets i literally would not pay for this'

'\nProcessed Review:'

'product wouldnt even worth getting dollar store sheet strip regularly problem typically try sheet time every time get jammed course dont way open clear jammed paper try use butter knife take longer every sheet using pair scissors shred sheet literally would not pay'

'\n'

'\nOriginal Review:'

'after using the telo wireless adapter with our ooma purchased from costco in may for about months i finally pulled the plug and went back to a direct connect to our dsl modemwe have dsl through century link into an actiontec q dsl modem with wifi our download speed via speedtestnet is mb and upload is just shy of mbthe adapter did establish a wireless connection with the q but would drop the connection at least every other day or so and sometimes daily reestablishing would require a power cycle of the ooma unit with the adapter attached to it in frustration with that situation i decided to disable the radio on the q and try an apple airport extreme circa which is an extremely straightforward wifi unit it also has a more powerful radio than the q as evidenced by signal level detected by other devices i set it up with a ssid and password with wpa security no matter what i did the ooma adapter would not ever establish a connection i contacted ooma and they said to set qos to down up i tried that to no avail also tried from some forums and that did not help i tried other security types and both aes and tkip and none of that mattered ive thrown in the towel and have direct connected the telo to the q lan portthis is a drag because i had cross wired the house phone port i was previously using to feed the rest of the house and now i have to screw around with that again for a different room and mess with the punchdown and butt set etcat the end of the day i have to say the telo wireless adapter is probably more junk than not or at the very least it is very finicky about establishing and holding wifi connections maybe in a year or two they will cook up something more reliable'

'\nProcessed Review:'

'using telo wireless adapter ooma purchased costco may month finally pulled plug went back direct connect dsl modemwe dsl century link actiontec q dsl modem wifi download speed via speedtestnet mb upload shy mbthe adapter establish wireless connection q would drop connection least every day or sometimes daily reestablishing would require power cycle ooma unit adapter attached frustration situation decided disable radio q try apple airport extreme circa extremely straightforward wifi unit also powerful radio q evidenced signal level detected device set ssid password wpa security no matter ooma adapter would not ever establish connection contacted ooma said set qos tried no avail also tried forum not help tried security type aes tkip none mattered ive thrown towel direct connected telo q lan portthis drag cross wired house phone port previously using feed rest house screw around different room mess punchdown butt set etcat end day say telo wireless adapter probably junk not or least finicky establishing holding wifi connection maybe year or two cook something reliable'

'\n'

'\nOriginal Review:'

'i opened the black ink cartridge and i now have ink on my desk and every single finger and thumb price was great but definitely not worth the messwill not buy again'

'\nProcessed Review:'

'opened black ink cartridge ink desk every single finger thumb price great definitely not worth messwill not buy'

'\n'

Print average length of reviews before and after preprocessing

In [220]:

avg_length_before = df3['cleaned_reviews'].apply(len).mean()
avg_length_after = df3['processed_reviews'].apply(len).mean()
print(f"Average Length of Reviews Before and After Preprocessing: {avg_length_before:.2f}, {avg_length_after:.2f}")

Average Length of Reviews Before and After Preprocessing: 301.02, 196.14

In [221]:
df3

,star_rating,review_body,sentiment,cleaned_reviews,processed_reviews
165183,5,Really cute. Holds like 16 cards,1.0,really cute holds like cards,really cute hold like card
179279,5,Great delivery time. Also pleased with qualit...,1.0,great delivery time also pleased with quality ...,great delivery time also pleased quality paper...
1336999,4,"For the cost, you obviously can't beat it. Th...",1.0,for the cost you obviously cant beat it they s...,cost obviously cant beat seem longer lasting o...
235220,5,I had originally ordered ink on eBay for my br...,1.0,i had originally ordered ink on ebay for my br...,originally ordered ink ebay brother mfcjdw rec...
210890,5,"Very nice product, also very accurate. The onl...",1.0,very nice product also very accurate the only ...,nice product also accurate only thing didnt li...
...,...,...,...,...,...
1731212,2,"the measurement is 4x6 with flap open, I expec...",0.0,the measurement is x with flap open i expected...,measurement x flap open expected envelope fit ...
972938,1,Bought it to replace my old printhead because ...,0.0,bought it to replace my old printhead because ...,bought replace old printhead error code statin...
1821662,2,It makes my Logitech M510 wireless mouse spora...,0.0,it makes my logitech m wireless mouse sporadic...,make logitech wireless mouse sporadic say righ...
496005,1,"My gripe is the poor support service, and warr...",0.0,my gripe is the poor support service and warra...,gripe poor support service warranty used excel...
2607446,1,I purchased this battery because it is listed ...,0.0,i purchased this battery because it is listed ...,purchased battery listed replacement sony bpt ...

# TF-IDF Feature Extraction

This code snippet performs the following tasks:

1. Splits the dataset into training and testing sets (`X_train`, `X_test`, `y_train`, `y_test`) using 80-20 ratio.
2. Creates a TF-IDF (Term Frequency-Inverse Document Frequency) vectorizer (`tfidf_vectorizer`).
3. Fits and transforms the training data (`X_train_tfidf`) using the TF-IDF vectorizer.
4. Transforms the testing data (`X_test_tfidf`) using the same vectorizer.

The resulting `X_train_tfidf` and `X_test_tfidf` contain the TF-IDF features for the training and testing sets, respectively.

In [222]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df3['processed_reviews'], df3['sentiment'], test_size=0.2, random_state=55)

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the testing data
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Perceptron

This code uses a Perceptron model for binary classification on TF-IDF features. It trains the model, makes predictions on training and testing sets, and calculates and prints accuracy, precision, recall, and F1-score for both sets.

In [223]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create and train a Perceptron model
perceptron_model = Perceptron()
perceptron_model.fit(X_train_tfidf, y_train)

# Predictions on training set
train_predictions = perceptron_model.predict(X_train_tfidf)

# Predictions on testing set
test_predictions = perceptron_model.predict(X_test_tfidf)

# Calculate metrics for training set
train_accuracy = accuracy_score(y_train, train_predictions)
train_precision = precision_score(y_train, train_predictions)
train_recall = recall_score(y_train, train_predictions)
train_f1 = f1_score(y_train, train_predictions)

# Calculate metrics for testing set
test_accuracy = accuracy_score(y_test, test_predictions)
test_precision = precision_score(y_test, test_predictions)
test_recall = recall_score(y_test, test_predictions)
test_f1 = f1_score(y_test, test_predictions)

print("\nPerception Results:", train_accuracy, ',', train_precision, ',', train_recall, ',', train_f1, ',', test_accuracy, ',', test_precision, ',', test_recall, ',', test_f1)


# # Print the results
# print("Results for Perceptron")
# print(f"\nTraining Accuracy: {train_accuracy:.4f}")
# print(f"\nTraining Precision: {train_precision:.4f}")
# print(f"\nTraining Recall: {train_recall:.4f}")
# print(f"\nTraining F1-Score: {train_f1:.4f}")

# print(f"\nTesting Accuracy: {test_accuracy:.4f}")
# print(f"\nTesting Precision: {test_precision:.4f}")
# print(f"\nTesting Recall: {test_recall:.4f}")
# print(f"\nTesting F1-Score: {test_f1:.4f}")

Perception Results: 0.9260875 , 0.9512191893251436 , 0.8982349558738969 , 0.923968111096824 , 0.8682 , 0.8916303307455068 , 0.8383161683831617 , 0.8641517212945784

# SVM

This code employs a Linear Support Vector Classification (LinearSVC) model for binary classification on TF-IDF features. It trains the model, makes predictions on training and testing sets, and calculates and prints accuracy, precision, recall, and F1-score for both sets.

In [224]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


linear_svc_model = LinearSVC()
linear_svc_model.fit(X_train_tfidf, y_train)

# Predictions on training set
train_predictions = linear_svc_model.predict(X_train_tfidf)

# Predictions on testing set
test_predictions = linear_svc_model.predict(X_test_tfidf)

# Calculate metrics for training set
train_accuracy = accuracy_score(y_train, train_predictions)
train_precision = precision_score(y_train, train_predictions)
train_recall = recall_score(y_train, train_predictions)
train_f1 = f1_score(y_train, train_predictions)

# Calculate metrics for testing set
test_accuracy = accuracy_score(y_test, test_predictions)
test_precision = precision_score(y_test, test_predictions)
test_recall = recall_score(y_test, test_predictions)
test_f1 = f1_score(y_test, test_predictions)


print("\n SVM Results:", train_accuracy, ',', train_precision, ',', train_recall, ',', train_f1, ',', test_accuracy, ',', test_precision, ',', test_recall, ',', test_f1)

# # Print the results
# print("\nResults for SVM")
# print(f"\nTraining Accuracy: {train_accuracy:.4f}")
# print(f"\nTraining Precision: {train_precision:.4f}")
# print(f"\nTraining Recall: {train_recall:.4f}")
# print(f"\nTraining F1-Score: {train_f1:.4f}")

# print(f"\nTesting Accuracy: {test_accuracy:.4f}")
# print(f"\nTesting Precision: {test_precision:.4f}")
# print(f"\nTesting Recall: {test_recall:.4f}")
# print(f"\nTesting F1-Score: {test_f1:.4f}")

C:\Users\Manan\anaconda3\Lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

 SVM Results: 0.94930625 , 0.9513190442108964 , 0.947073676841921 , 0.9491916135781356 , 0.9054 , 0.9060997596153846 , 0.9045595440455955 , 0.9053289967475606

# Logistic Regression

This code uses a Logistic Regression model for binary classification on TF-IDF features. It trains the model, makes predictions on training and testing sets, and calculates and prints accuracy, precision, recall, and F1-score for both sets.

In [225]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create and train a Logistic Regression model
logreg_model = LogisticRegression()
logreg_model.fit(X_train_tfidf, y_train)

# Predictions on training set
train_predictions = logreg_model.predict(X_train_tfidf)

# Predictions on testing set
test_predictions = logreg_model.predict(X_test_tfidf)

# Calculate metrics for training set
train_accuracy = accuracy_score(y_train, train_predictions)
train_precision = precision_score(y_train, train_predictions)
train_recall = recall_score(y_train, train_predictions)
train_f1 = f1_score(y_train, train_predictions)

# Calculate metrics for testing set
test_accuracy = accuracy_score(y_test, test_predictions)
test_precision = precision_score(y_test, test_predictions)
test_recall = recall_score(y_test, test_predictions)
test_f1 = f1_score(y_test, test_predictions)

print("\nLogistic Regression Results:", train_accuracy, ',', train_precision, ',', train_recall, ',', train_f1, ',', test_accuracy, ',', test_precision, ',', test_recall, ',', test_f1)

# # Print the results
# print("Results for Logistic Regression")
# print(f"\nTraining Accuracy: {train_accuracy:.4f}")
# print(f"\nTraining Precision: {train_precision:.4f}")
# print(f"\nTraining Recall: {train_recall:.4f}")
# print(f"\nTraining F1-Score: {train_f1:.4f}")

# print(f"\nTesting Accuracy: {test_accuracy:.4f}")
# print(f"\nTesting Precision: {test_precision:.4f}")
# print(f"\nTesting Recall: {test_recall:.4f}")
# print(f"\nTesting F1-Score: {test_f1:.4f}")

Logistic Regression Results: 0.92381875 , 0.927369442728751 , 0.9196604915122878 , 0.9234988796907068 , 0.90935 , 0.912327525430557 , 0.9057594240575942 , 0.9090316106372303

# Naive Bayes

This code utilizes a Multinomial Naive Bayes model for binary classification on TF-IDF features. It trains the model, makes predictions on training and testing sets, and calculates and prints accuracy, precision, recall, and F1-score for both sets.

In [226]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

nb_model = MultinomialNB()
nb_model.fit(X_train_tfidf, y_train)

# Predictions on training set
train_predictions = nb_model.predict(X_train_tfidf)

# Predictions on testing set
test_predictions = nb_model.predict(X_test_tfidf)

# Calculate metrics for training set
train_accuracy = accuracy_score(y_train, train_predictions)
train_precision = precision_score(y_train, train_predictions, average='weighted')
train_recall = recall_score(y_train, train_predictions, average='weighted')
train_f1 = f1_score(y_train, train_predictions, average='weighted')

# Calculate metrics for testing set
test_accuracy = accuracy_score(y_test, test_predictions)
test_precision = precision_score(y_test, test_predictions, average='weighted')
test_recall = recall_score(y_test, test_predictions, average='weighted')
test_f1 = f1_score(y_test, test_predictions, average='weighted')



#print("Average length of reviews before and after data cleaning:", avg_length_before_cleaning, ',', avg_length_after_cleaning)
#print("Average length of reviews before and after data preprocessing:", avg_length_before_preprocessing, ',', avg_length_after_preprocessing)

print("\nNaive Bias:", train_accuracy, ',', train_precision, ',', train_recall, ',', train_f1, ',', test_accuracy, ',', test_precision, ',', test_recall, ',', test_f1)

# print("\nResults for Naive Bias")
# print(f"\nTraining Accuracy: {train_accuracy:.4f}")
# print(f"\nTraining Precision: {train_precision:.4f}")
# print(f"\nTraining Recall: {train_recall:.4f}")
# print(f"\nTraining F1-Score: {train_f1:.4f}")

# print(f"\nTesting Accuracy: {test_accuracy:.4f}")
# print(f"\nTesting Precision: {test_precision:.4f}")
# print(f"\nTesting Recall: {test_recall:.4f}")
# print(f"\nTesting F1-Score: {test_f1:.4f}")

Naive Bias: 0.88473125 , 0.886146224230536 , 0.88473125 , 0.8846254567772815 , 0.86365 , 0.8651842871079196 , 0.86365 , 0.8635071579723408

In [228]:
!python HW1_CSCI544.py

Statistics of three classes: 2002886,445730,193818
Average Length of Reviews Before and After Cleaning: 318.87, 301.02
Average Length of Reviews Before and After Preprocessing: 301.02, 196.14

Perception Results: 0.9260875 , 0.9512191893251436 , 0.8982349558738969 , 0.923968111096824 , 0.8682 , 0.8916303307455068 , 0.8383161683831617 , 0.8641517212945784

 SVM Results: 0.9493125 , 0.9513309894525365 , 0.947073676841921 , 0.9491975594783197 , 0.9054 , 0.9060997596153846 , 0.9045595440455955 , 0.9053289967475606

Logistic Regression Results: 0.92381875 , 0.927369442728751 , 0.9196604915122878 , 0.9234988796907068 , 0.90935 , 0.912327525430557 , 0.9057594240575942 , 0.9090316106372303

Naive Bias: 0.88473125 , 0.886146224230536 , 0.88473125 , 0.8846254567772815 , 0.86365 , 0.8651842871079196 , 0.86365 , 0.8635071579723408

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
C:\Users\Manan\HW1_CSCI544.py:85: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  positive_reviews = df2[(df2['star_rating'] == 4) + (df2['star_rating'] == 5)]
C:\Users\Manan\HW1_CSCI544.py:86: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  negative_reviews = df2[(df2['star_rating'] == 1) + (df2['star_rating'] == 2)]
C:\Users\Manan\HW1_CSCI544.py:89: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  positive_reviewsf = df2[(df2['star_rating'] == 4) + (df2['star_rating'] == 5)]
C:\Users\Manan\HW1_CSCI544.py:90: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead.
  negative_reviewsf = df2[(df2['star_rating'] == 1) + (df2['star_rating'] == 2)]
C:\Users\Manan\HW1_CSCI544.py:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sentiment'] = df2['star_rating'].apply(lambda x: 1 if x > 3 else 0 if x <= 2 else None)
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Manan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!